In [1]:
import pandas as pd

In [9]:
df = pd.read_excel("student_profiles.xlsx")

In [21]:
df.tail()

    Student ID Birthday
86          87      NaN
87          88      NaN
88          89     2013
89          90     2013
90          91     2012

In [14]:
df.nunique()

Student ID    91
Birthday      76
dtype: int64

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91 entries, 0 to 90
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Student ID  91 non-null     int64
 1   Birthday    81 non-null     object
dtypes: int64(1), object(1)
memory usage: 1.5+ KB

In [19]:
df.isnull().sum()

Student ID     0
Birthday      10
dtype: int64

In [23]:
new_df = df.dropna(how = "any", axis = 0)

In [25]:
df["Birthday"]

0     2012-09-03 00:00:00
1     2011-09-07 00:00:00
2     2011-04-08 00:00:00
3     2013-07-07 00:00:00
4     2012-04-05 00:00:00
             ...
86                    NaN
87                    NaN
88                   2013
89                   2013
90                   2012
Name: Birthday, Length: 91, dtype: object

In [29]:
quest_key = pd.read_excel("question_key.xlsx")

In [37]:
quest_key.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Type     6 non-null      object
 1   Meaning  6 non-null      object
 2   Example  2 non-null      object
dtypes: object(3)
memory usage: 272.0+ bytes

In [38]:
quest_key

,Type,Meaning,Example
0,M,Factual recall: there is a sentence that basic...,He had black hair <- what colour is his hair
1,H,Inference: they will have to infer information...,she smiled <- how did she feel
2,T/F,"True or false question, which will require oth...",NaN
3,P,Purpose: understanding why the author writes s...,NaN
4,G,"Grammar: questions testing spelling, punctuati...",NaN
5,V,Vocabualry: questions testing vocabulary knowl...,NaN

In [45]:
quest_key["Meaning"][5]

'Vocabualry: questions testing vocabulary knowledge'

In [43]:
worksheet_data = pd.read_excel("Worksheets\worksheet_data.xlsx")

In [44]:
worksheet_data

,fiction,Unnamed: 1,Unnamed: 2,version,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,(ver),(ver).1,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,NaN,NaN,NaN,Date of Completion,2021-10-04 00:00:00,2021-10-04 00:00:00,2021-10-04 00:00:00,2021-10-05 00:00:00,2021-10-11 00:00:00,2021-10-15 00:00:00,...,2021-05-10 00:00:00,2021-05-10 00:00:00,2021-05-11 00:00:00,2022-10-27 00:00:00,2022-10-28 00:00:00,2022-07-25 00:00:00,2022-07-25 00:00:00,2022-07-25 00:00:00,2022-07-25 00:00:00,2023-07-26 00:00:00
1,Question Type,Question,Answer,Name,8,15,22,2,6,79,...,11,18,19,50,49,44,78,46,4,45
2,M,1,C,NaN,C,C,C,C,C,C,...,C,C,C,C,C,C,A,C,C,C
3,M,2,C,NaN,C,C,C,C,C,C,...,C,C,C,C,C,C,C,C,C,C
4,H,3,D,NaN,C,B,C,D,B,NaN,...,A,B,C,C,D,A,C,A,B,D
5,"M, T/F",4,C,NaN,D,D,A,D,B,NaN,...,D,C,D,D,C,D,C,D,A,C
6,H,5,D,NaN,D,D,B,D,B,NaN,...,D,D,D,D,B,D,B,B,B,D
7,H,6,D,NaN,B,D,B,D,C,NaN,...,A,NaN,D,D,A,D,A,A,A,D
8,M,7,B,NaN,B,B,B,B,A,NaN,...,B,B,B,B,B,B,A,A,B,B
9,M,8,C,NaN,B,C,A,C,C,NaN,...,C,C,C,C,C,A,C,C,C,C
10,V,9,A,NaN,A,A,A,A,A,NaN,...,A,A,A,A,A,A,C,A,A,A
11,V,10,C,NaN,C,C,C,C,D,NaN,...,D,D,C,C,C,C,A,C,C,C
12,M,11,D,NaN,D,D,D,D,D,NaN,...,B,D,A,D,B,D,B,C,B,D
13,G,12,D,NaN,D,D,D,D,D,NaN,...,D,D,D,D,D,D,D,D,D,D
14,M,13,C,NaN,A,A,D,C,C,NaN,...,B,C,B,A,A,C,A,D,A,C
15,M,14,A,NaN,A,B,A,A,D,NaN,...,A,A,B,B,D,D,C,B,A,A
16,M,15,D,NaN,B,C,D,D,B,NaN,...,D,B,C,D,D,B,C,D,D,D
17,P,(16),C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,C,C,C,D,C,C,C